<%# Header Content %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# display any errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- messages() %>

<%# Edit Profile Form %>
<form id="editProfileForm" action="/account/logged-in" method="post">
  <fieldset>

    <label for="account_firstname">First Name</label>
    <input type="text" id="account_firstname" name="account_firstname" required
      value="<%= accountData.account_firstname %>">

    <label for="account_lastname">Last Name</label>
    <input type="text" id="account_lastname" name="account_lastname" required
      value="<%= accountData.account_lastname %>">

    <label for="account_email">Email</label>
    <input type="email" id="account_email" name="account_email" required
      value="<%= accountData.account_email %>">

    
          <input type="submit" value="Update Profile">

  </fieldset>
</form><br>

<form id="changePasswordForm" action="/account/logged-in" method="post">
  <fieldset>

    <label for="account_password">New Password</label>
    <input type="password" id="account_password" name="account_password" required>

    <p class="password-hint">
      Password must be at least 12 characters and contain at least one number, one capital letter, and one special character.
    </p>

    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <input type="submit" value="Change Password">
  </fieldset>
</form>

