<%# Header Content %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# display any errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- messages() %>
<h1>Welcome <%= accountData.account_firstname %> <%= accountData.account_lastname %>!</h1>
<p>You are logged in</p>

<%# Edit profile %>
<p><a href="/account/edit-profile">Edit your profile</a></p>

<%# Link to inventory managment if is Admin or Employee %>
<% if (accountData.account_type === 'Admin' || accountData.account_type === 'Employee') { %>
  <p><a href="/inv/management">Go to Inventory Management</a></p>
<% } %>

