

<h1>Welcome to CSE Motors!</h1>

<div class="hero">
  <div class="hero-text">
    <h2><%= featuredVehicle.inv_make %> <%= featuredVehicle.inv_model %></h2>
    <p>Year: <%= featuredVehicle.inv_year %></p>
    <p>Color: <%= featuredVehicle.inv_color %></p>
    <br>
    <a href="inv/detail/<%= featuredVehicle.inv_id %>" class="btn">Own Today</a>
  </div>
  <img src="<%= featuredVehicle.inv_image %>" alt="Image of a car">
</div>


<div class="information">
  <div>
    <h2>Doleran Upgrades</h2>
    <div class="upgrade">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Image of a flux capacitor">
                <figcaption>Flux Capacitor</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Image of flame decals">
                <figcaption>Flame Decals</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Image of a bumper sticker">
                <figcaption>Bumper Sticker</figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Image of a hub cap">
                <figcaption>Hub Caps</figcaption>
            </figure>
    </div>
  </div>

  <div>
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in tome." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
</div>
