<%# Header Content %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors && errors.length > 0) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<%- messages() %>

<%# edit vehicle form %>
 <form action="/inv/update" method="POST">
    <fieldset>
      <label for="classificationSelect">Classification</label>
      <%- classificationSelect %>

      <label for="inv_make">Make</label>
      <input type="text" name="inv_make" id="inv_make" required pattern=".{3,}" title="At least 3 characters"
        value="<%= inv_make || '' %>">

      <label for="inv_model">Model</label>
      <input type="text" name="inv_model" id="inv_model" required pattern=".{3,}" title="At least 3 characters"
        value="<%= inv_model || '' %>">

      <label for="inv_year">Year</label>
      <input type="number" name="inv_year" id="inv_year" required min="1886" max="2026"
        value="<%= inv_year || '' %>">

      <label for="inv_description">Description</label>
      <textarea name="inv_description" id="inv_description" required><%= inv_description || '' %></textarea>

      <label for="inv_image">Image Path</label>
      <input type="text" name="inv_image" id="inv_image" required
        value="<%= inv_image && inv_image.trim() !== '' ? inv_image : '/images/vehicles/no-image.png' %>">

      <label for="inv_thumbnail">Thumbnail Path</label>
      <input type="text" name="inv_thumbnail" id="inv_thumbnail" required
        value="<%= inv_thumbnail && inv_thumbnail.trim() !== '' ? inv_thumbnail : '/images/vehicles/no-image-tn.png' %>">

      <label for="inv_price">Price</label>
      <input type="number" name="inv_price" id="inv_price" required step="0.01" min="0"
        value="<%= inv_price || '' %>">

      <label for="inv_miles">Miles</label>
      <input type="number" name="inv_miles" id="inv_miles" required step="1" min="0"
        value="<%= inv_miles || '' %>">

      <label for="inv_color">Color</label>
      <input type="text" name="inv_color" id="inv_color" required
        value="<%= inv_color || '' %>">

           <input type="submit" value="Uptade Vehicle">

           <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>